#container {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    padding: 1rem;
  }

  table {
    width: 90%;
    margin-top: 2rem;

    tbody {
      tr {
        td {
          img {
            height: 1rem;
            opacity: 0;
            cursor: auto;
          }
        }
      }

      tr:hover {
        td {
          img {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }

  #options {
    width: 13%;
    position: fixed;
    display: none;
    overflow: hidden;

    border-radius: 10px;
    border: solid 1px #ddd;
    background-color: #eee;

    div {
      padding: 0.5rem;
      width: 100%;
      text-align: center;
      cursor: pointer;
    }

    div:hover {
      background-color: #0000002c;
    }
  }

  #addNew {
    border: 1px solid #ddd;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;

    img {
      height: 1.5rem;
      transition: all 0.1s ease;
    }
  }

  #addNew:hover {
    img {
      height: 1.7rem;
    }
  }
}
